tweet_analyse_node_red/vesion_5.1.json
[{"id":"d93ed019.5257f","type":"file","z":"927ffa5a.afe058","name":"tweet collect txt","filename":"F:\\dash_app\\dash_ibm_app\\dataset\\tweet.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":700,"y":260,"wires":[[]]},{"id":"c9835caa.9c5fd","type":"inject","z":"927ffa5a.afe058","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i am happy","payloadType":"str","x":140,"y":380,"wires":[["979af3e0.7d4ba","692a59e3.dbfd68"]]},{"id":"5d50f407.3597ec","type":"inject","z":"927ffa5a.afe058","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i am in fear","payloadType":"str","x":140,"y":480,"wires":[["979af3e0.7d4ba","692a59e3.dbfd68"]]},{"id":"1e04d2b.657fa2d","type":"inject","z":"927ffa5a.afe058","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i am disgusted","payloadType":"str","x":150,"y":540,"wires":[["979af3e0.7d4ba","692a59e3.dbfd68"]]},{"id":"698d186b.119118","type":"inject","z":"927ffa5a.afe058","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i am angry","payloadType":"str","x":160,"y":700,"wires":[["979af3e0.7d4ba","692a59e3.dbfd68"]]},{"id":"b21f39b5.329278","type":"inject","z":"927ffa5a.afe058","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i am very sad","payloadType":"str","x":150,"y":620,"wires":[["979af3e0.7d4ba","692a59e3.dbfd68"]]},{"id":"d9c7b204.d234c","type":"debug","z":"927ffa5a.afe058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","x":1000,"y":700,"wires":[]},{"id":"414f3455.edc53c","type":"function","z":"927ffa5a.afe058","name":"return higest","func":"var ang=[msg.response.document_tone.tone_categories[0].tones[0].score,\"angery\"]\nvar disgust=[msg.response.document_tone.tone_categories[0].tones[1].score,\"disgust\"]\nvar fear=[msg.response.document_tone.tone_categories[0].tones[2].score,\"fear\"]\nvar joy=[msg.response.document_tone.tone_categories[0].tones[3].score,\"joy\"]\nvar sad=[msg.response.document_tone.tone_categories[0].tones[4].score,\"sadness\"]\nvar largest=ang\nif(ang[0]>disgust[0] && ang[0]>fear[0] && ang[0]>joy[0] && ang[0]>sad[0]){\n    largest=ang\n}\nelse if(disgust[0]>ang[0] && disgust[0]>fear[0] && disgust[0]>joy[0] &&  disgust[0]>sad[0]){\n    largest=disgust\n}\nelse if(fear[0]>ang[0] && fear[0]>disgust[0] && fear[0]>joy[0] && fear[0]>sad[0]){\n    largest=fear\n}\nelse if(joy[0]>ang[0] && joy[0]>disgust[0] && joy[0]>fear[0] && joy[0]>sad[0] ){\n    largest=joy\n}\nelse{\n    largest=sad\n}\n\nmsg.response=largest[1]\nreturn msg;\n\n","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["3e636bc4.18eb24"]]},{"id":"464e8cdd.119bf4","type":"debug","z":"927ffa5a.afe058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":280,"wires":[]},{"id":"2a2d44d.4c8dcbc","type":"function","z":"927ffa5a.afe058","name":"retun sentiment","func":"var sentiment=msg.features.sentiment.document.label\nmsg.payload=sentiment\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":380,"wires":[["464e8cdd.119bf4","5a8ae759.de91b8"]]},{"id":"f94baf6a.ee9f9","type":"debug","z":"927ffa5a.afe058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"692a59e3.dbfd68","type":"natural-language-understanding","z":"927ffa5a.afe058","name":"","categories":false,"limitcategories":"","concepts":false,"maxconcepts":"10","doc-emotion":false,"doc-emotion-target":"watson","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"10","keyword":false,"keyword-emotion":false,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"10","limittextcharacters":"200","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.eu-gb.natural-language-understanding.watson.cloud.ibm.com/instances/b13acac7-0c4f-42ee-85ac-7c3de15555c1","x":480,"y":420,"wires":[["2a2d44d.4c8dcbc"]]},{"id":"979af3e0.7d4ba","type":"watson-tone-analyzer-v3","z":"927ffa5a.afe058","name":"tone","tones":"emotion","sentences":"false","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/5600af07-b471-4b36-a166-80edb92ed640","x":430,"y":560,"wires":[["414f3455.edc53c"]]},{"id":"6c730cea.171d04","type":"twitter in","z":"927ffa5a.afe058","twitter":"","tags":"covi19,covid,coronavirus,lockdown,work from home","user":"false","name":"","inputs":0,"x":110,"y":220,"wires":[[]]},{"id":"3e636bc4.18eb24","type":"function","z":"927ffa5a.afe058","name":"data","func":"var emotion=msg.response;\nmsg.payload=emotion;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":560,"wires":[["13846f22.f1f571","d9c7b204.d234c"]]},{"id":"a433fe1b.d1d03","type":"function","z":"927ffa5a.afe058","name":"tweeet file","func":"var tweet = msg.payload;\nmsg.payload=tweet+',';\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["d93ed019.5257f","f94baf6a.ee9f9"]]},{"id":"5a8ae759.de91b8","type":"file","z":"927ffa5a.afe058","name":"sentiment csv","filename":"F:\\dash_app\\dash_ibm_app\\dataset\\sentiment.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1100,"y":380,"wires":[[]]},{"id":"13846f22.f1f571","type":"file","z":"927ffa5a.afe058","name":"emotion csv","filename":"F:\\dash_app\\dash_ibm_app\\dataset\\emotion.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1070,"y":540,"wires":[[]]},{"id":"b186e79e.1b6018","type":"twitter in","z":"927ffa5a.afe058","twitter":"","tags":"lockdown extended,work from home extended","user":"false","name":"","inputs":0,"x":150,"y":80,"wires":[[]]},{"id":"9cb00a25.ab5ea8","type":"file","z":"927ffa5a.afe058","name":"","filename":"F:\\dash_app\\dash_ibm_app\\dataset\\tweet_future.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":20,"wires":[[]]},{"id":"8abc27c5.256aa8","type":"natural-language-understanding","z":"927ffa5a.afe058","name":"","categories":false,"limitcategories":"","concepts":false,"maxconcepts":"10","doc-emotion":false,"doc-emotion-target":"watson","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"10","keyword":false,"keyword-emotion":false,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"10","limittextcharacters":"200","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.eu-gb.natural-language-understanding.watson.cloud.ibm.com/instances/b13acac7-0c4f-42ee-85ac-7c3de15555c1","x":460,"y":80,"wires":[["161c7b1d.a99915"]]},{"id":"a98e347.cb09bc8","type":"debug","z":"927ffa5a.afe058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":40,"wires":[]},{"id":"dd5a0c04.6f723","type":"file","z":"927ffa5a.afe058","name":"sentiment future csv","filename":"F:\\dash_app\\dash_ibm_app\\dataset\\sentiment_future.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1260,"y":120,"wires":[[]]},{"id":"161c7b1d.a99915","type":"function","z":"927ffa5a.afe058","name":"retun sentiment","func":"var sentiment=msg.features.sentiment.document.label\nmsg.payload=sentiment\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":100,"wires":[["dd5a0c04.6f723","a98e347.cb09bc8"]]}]