covidBot/UI_node_red/chatbotv1.json
[{"id":"f4ef6bd3.d8faa8","type":"debug","z":"1d25e41b.cb5dec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":520,"wires":[]},{"id":"ae1d8560.6f8238","type":"ui_form","z":"1d25e41b.cb5dec","name":"","label":"","group":"863513ab.6d5ed","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":160,"wires":[["b4168f04.a6781"]]},{"id":"b4168f04.a6781","type":"function","z":"1d25e41b.cb5dec","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":360,"wires":[["8fbfcd2b.d9d4f","bfa473da.df9d"]]},{"id":"8fbfcd2b.d9d4f","type":"watson-conversation-v1","z":"1d25e41b.cb5dec","name":"","workspaceid":"0a199a54-cbb6-483a-8e1f-eb5d7a191ed7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5b16323a-7f43-4f60-8f3d-47d0c2a43fa2","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["f4ef6bd3.d8faa8","92b65d52.ab4eb"]]},{"id":"92b65d52.ab4eb","type":"function","z":"1d25e41b.cb5dec","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["f4ef6bd3.d8faa8","da45fb78.5fb7d8","35e8e69.a67011a"]]},{"id":"da45fb78.5fb7d8","type":"ui_template","z":"1d25e41b.cb5dec","group":"863513ab.6d5ed","name":"","order":7,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":960,"y":180,"wires":[[]]},{"id":"bfa473da.df9d","type":"ui_text","z":"1d25e41b.cb5dec","group":"863513ab.6d5ed","order":3,"width":0,"height":0,"name":"","label":"Your question :","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":520,"wires":[]},{"id":"35e8e69.a67011a","type":"ui_text","z":"1d25e41b.cb5dec","group":"863513ab.6d5ed","order":5,"width":0,"height":0,"name":"","label":"CovidBot Responce :","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":400,"wires":[]},{"id":"863513ab.6d5ed","type":"ui_group","z":"","name":"UI","tab":"98265606.d5b1d8","order":1,"disp":true,"width":"20","collapse":false},{"id":"98265606.d5b1d8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]